%p
  %a{:href => "http://github.com/#{event['actor']['login']}"}=event["actor"]["login"]
  pushed
  -if event['payload']['commits']
    =event['payload']['commits'].size
    commits
  to
  %a{:href => "http://github.com/#{event['repo']['name']}"}=event["repo"]["name"]


