-maximum = 0
-env['statistics'].each do |key,value|
  -maximum = value if value > maximum
-pixel=100.0/maximum

.statistics
  -env['statistics'].each do |key,value|
    .stat-block{'data-action' => key}
      .chart-wrap
        .chart{:style => "height: #{value*pixel}px;"}
      .key
        =key
      .value
        =value
