.avatar img, .avatar-img
  height: 50px
  width: 50px

body
  background: gray

.content
  max-width: 600px
  background: white
  margin: auto
  padding: 20px

.column1
  width: 20%
  float: left

.column2
  width: 20%
  float: left

.column3
  width: 60%
  float: left

.element
  width: 100%
  overflow: hidden

.element:after
  clear: both



