html
  font-family: arial

.avatar img, .avatar-img
  height: 50px
  width: 50px

body
  background: gray

.content
  max-width: 600px
  background: white
  margin: auto
  padding: 20px

.column1
  width: 20%
  float: left

.column2
  width: 20%
  float: left

.column3
  width: 60%
  float: left

.element
  width: 100%
  overflow: hidden
  padding-top: 10px
  margin-top: 10px
  border-top: 1px dashed gray

.element:after
  clear: both

.main_header
  text-transform: uppercase

.comment
  color: gray
  font-size: 12px
