html
  font-family: arial

.avatar img, .avatar-img
  height: 50px
  width: 50px

.avatar-wrap
  height: 50px
  width: 50px
  border-radius: 50px
  overflow: hidden
  border: 2px solid #00ff1a

body
  background: #111111
  color: #00ff1a
  font-family: Andale Menlo
  font-size:  20px
a
  color: #00ff1a
  text-decoration: underline

.content
  max-width: 600px
  background: black
  margin: auto
  padding: 20px

.column1
  width: 20%
  float: left

.column2
  width: 20%
  float: left

.column3
  width: 60%
  float: left

.element
  width: 100%
  overflow: hidden
  padding-top: 10px
  margin-top: 10px
  border-top: 1px dashed gray

.element:after
  clear: both

.main_header
  text-transform: uppercase

.comment
  color: gray
  font-size: 12px


.avatar_list img
  float: left
  display: block
  width: 30px
  opacity: 0.7

.avatar_list img:hover
  opacity: 1


.avatar_list
  overflow: hidden
  padding-top: 10px
  padding-bottom: 10px


.avatar_list:after
  clear: both

.stat-block
  float: left
  width: 40px
  overflow:  hidden

.stat-block .key
  font-size: 10px

.stat-block .chart-wrap
  height: 100px
  position: relative

.stat-block:hover
  background: #335533
  cursor: pointer

.stat-block .chart
  background: #00ff1a
  content: ' '
  width: 20px
  position: absolute
  bottom: 0
  left: 0

.statistics
  padding-bottom: 20px
  margin-bottom: 20px

input
  background: none
  color: #00ff1a
  font-family: Andale Menlo
  font-size: 20px
  border: none

