!!!
%html
  %head
    %title Chat
    %meta{:charset => "utf-8"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "/app.js"}
  %body
    %form
      %label Organization name
      %input#account
      %input#submit{:type => "submit", :value => "Go"}
